.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
 
.container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family:'Courier New', Courier, monospace
}

li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 500px;
  height : 30px;
  background-color: burlywood;
}
ul{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
input:checked+span {
  text-decoration: line-through;
}
